{erl_opts, [debug_info]}.
{deps, [
	{xmlrat, "~> 0.1"},
	{cowboy, "~> 2.13"},
	{lager, "~> 3.9"}
]}.
{overrides, [
	{override, cowboy, [
		%% see https://github.com/erlang/rebar3/issues/2364
		%% and https://github.com/ninenines/cowboy/issues/1670
		{deps, [
			{cowlib, "~> 2.14.0"},
			{ranch, "~> 1.8.1"}
		]}
	]}
]}.
{plugins, [rebar3_hex]}.
{project_plugins, [rebar3_edoc_extensions]}.
{shell, [
	{config, "config/shell.config"},
	{apps, [ratsaml]}
]}.
